/*#contenedor {

    width: 415px;
    height: auto;
    border: 2px solid #000;
    margin-top: 10px;
    padding: 2px;
}

div {
    background-color: red;
    display: inline-block;
    width: auto;
    font-size: 1rem;    
    
}

.tipo1, .tipo2 {
    width: 20px;
    float: left;
    margin: 2px;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}

.tipo1 {
    background-color: yellow;
    color: black;
}
.tipo2 {
    background-color: black;
    color: white;
}
*/

#contenedor{
	width:415px; /* calculadas segun contenidos */
    height:416px;
	border: 2px solid #000;
	text-align:center;
	margin-top:10px;
}

.tipo0,.tipo1,.tipo2{ /* parte comun */
    height:20px;
}

.tipo0{
text-align:center;
    width:80px;	
	border: 1px solid;	
}
.tipo1,.tipo2{
	 height:20px;
	padding:10px;
	margin:2px;
    width:20px;
	float:left;
	border: 1px solid #000;	
}
.tipo1 {
	background-color:brown;
	color:black;
}
.tipo2 {
	background-color: purple;
	color:white;
}